* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-family: Inter;
}

body {
    background-color: #000;
    color: #fff;
}

.contenir {
    display: flex;
    flex-direction: column;

    /* position: absolute;

    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%; */
}

.block {
    height: 200px;
}


.time_line {
    font-size: 16px;
    color: #7b7b7b;
}


iframe {
    width: 100%;
    height: 100vh;
}

.zagolovoc {
    color: #fff;
    font-family: Inter;
    font-size: 35px;
    font-weight: 600;
}

header {
    height: 100px;
    width: 100%;
    /* background-color: #ffffffad; */
    background-color: #0000009e;
    /* border-bottom: 2px solid #414141; */
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: center; 
    align-items: center;

    position: fixed;
}

.header {
    display: flex;
    justify-content: center; 
    align-items: center;
    /* height: 85px; */
}

/* header::before {
    content: "";
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */


main {
    padding-top: 100px;
}

.main-h {
    padding: 15px;

    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
}



.card {
    display: flex;
    justify-content: start;
    align-items: center;

    /* background-color: rgb(26, 26, 26); */
    border-radius: 15px;

    padding: 15px;
    /* margin: 10px; */
}

.card img{
    width: 50px;
    border-radius: 5px;
}

.info {
    padding-left: 10px;

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}



.tocka {
    width: 5px;
    height: 5px;

    margin-left: 5px;
    margin-right: 5px;

    background-color: rgb(72, 72, 72);
    border-radius: 100%;
}


.info a {
    color: #fff;
    text-decoration: none;
}

.info span {
    display: flex;
    align-items: center;
    color: rgb(112, 112, 112);
}




.ablohca {
    display: flex;
    flex-direction: column;
}





/* 
footer {
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    bottom: 15px;
}

.footer {
    background-color: #363636a3;
    backdrop-filter: blur(10px);
    padding: 10px 15px;
    border-radius: 12px;
}

.playr_img{
    width: 50px;
    border-radius: 5px;
}



@media screen and (max-width: 480px){

    footer {
        width: 100%;
        bottom: 0px;
    }

    .footer {
        background-color: #363636a3;
        backdrop-filter: blur(10px);

        padding: 15px;
        width: 100%;

        border-radius: 0px;


        display: flex;
        justify-content: center;
        align-items: center;
    }
} */









.windowe-new {
    position: absolute;
    width: 100%;
    height: 100%;

    /* overflow: hidden; */

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #00000070;
    backdrop-filter: blur(20px);
}

.new {

    background-color: #212121;
    border: 1px solid #3c3c3c;
    /* backdrop-filter: blur(50px); */
    border-radius: 20px;

    width: 350px;
    height: 350px;

    margin-bottom: 60px;
}

.updata {
    padding: 15px;
}

.updata .head-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px;
    padding-bottom: 20px;
}



.updata li {
    font-size: 18px;
    color: #8f8f8f;
}

.updata p {

    margin-top: 15px;
    margin-bottom: 15px;

    font-size: 18px;
    color: #8f8f8f;
}




.info-data {
    display: flex;
    flex-direction: column;

    color: #8f8f8f;
    gap: 5px;

    padding: 0px;
    padding-bottom: 20px;
} 

.info-data .v{
    color: #ffffff;
} 


.updata .head-info button {
    background: none;
    border: none;
}









.version {
    color: #898989;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

.version:hover {
    color: #6e6e6e;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}



@media screen and (max-width: 1920px) {
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        /* width: 768px; */
        width: 60%;
    }
}

@media screen and (max-width: 480px) {
    .cards {
        display: block;
    }

    .card {
        width: auto;
    }
}