.alibom {
    /* background: linear-gradient(0deg, #ffffff00 20%, rgb(0, 100, 183)); */
    /* background: linear-gradient(0deg, #ffffff00 5%, rgb(26 71 108)); */
    background-color: rgb(202, 136, 171);
}