



.playr-box {
    width: 100%;
    height: 100vh;
}

.playr-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* padding-top: 15%; */
    padding-top: 20px;
    gap: 20px;
}

/* .playr-info {
    width: 90%;
} */

.controlPlayr {
    display: flex;
    justify-content: end;
    width: 85%;
}

.controlPlayr button {
    padding: 10px;
}







.covers {
    position: relative;
}

.covers .cover-orign {
    border-radius: 7px;
    width: 300px;
    position: relative;

    z-index: 1;
}

.covers .cover-blur {
    border-radius: 7px;
    width: 300px;
    position: absolute;

    z-index: 1;
}











.playr-info {
    padding-top: 20px;
}

.playr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    gap: 10px;
}



.Text-playr {
    width: 60px;
}

.play_pause_playr {
    width: 60px;
}

.play_pause_playr {
    width: 60px;
}



.audio_name_playr {

}

.audio_after_playr {
    color: #ffffffac;
}





.time-max {
    height: 10px;
    appearance: none;
    background: #efefef;
    outline: none;
    overflow: hidden;

    border-radius: 300px;
    width: 90%;
}
  
.time-max::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background: #0091ff;

    border: 5px solid #0091ff;
    box-shadow: -405px 0 0 400px #0091ff;


    cursor: pointer;
}

